@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


 *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Bree Serif', serif;
        font-size: 15px;
 }




 /* HEADER */

#quienes-somos{
    color:#f0d5e8;
}

 .nav-link{
    font-size: 18px;
    color: #f0d5e8;
 }
 

 .navbar-brand{
    margin-right: 50px;
   
}

.nav-item {
    margin-right: 20px;
}

#navbarNavDropdown{
    background-color: #6d2469;
    
}

#navbar{
    background-color: #6d2469;
    height: 110px;
}

#header{
    background-color: #6d2469;
}



   
/* BODY */

body{
        background-color: #f0d5e8;
        overflow: auto  scroll;
 }


/* TITULO-SERVICIOS */
.contenedor-titulo-servicios{
    margin: 50px 0px;    
    
    }
    
 .titulo-servicios{
  text-align: center;
  color: #6d2469;
    }

 /* CONTENEDOR DE TARJETAS */

 #container-tarjetas{
    margin-top: 20px;
 }

.card-link{
    text-decoration: none;
    color: rgb(121, 16, 105);
}

.card-title{
    color: rgb(121, 16, 105);0;
}
  
.logodiv{
    margin-left: 30px;
}
 

li{
    display: inline-block;
    padding: 0 20px;
    
}

.contenedor-titulo-ofertas{
margin: 50px 0px;    

}

.titulo-ofertas{
    text-align: center;
    color: #6d2469;
}


/* CARRUSEL */


/* FOOTER */


.logodiv{
    margin-right: 200px;
}

.quienes-somos{
    margin-left: 5px;
}

footer{
    margin-top: 50px;
    background-color: #6d2469;
    height: auto;
    padding: 20px 0;
}

.isocial{
    text-align: center;
    padding-bottom: 20px;
}

.icono{
    border: 2px solid rgb(71, 19, 63);
    border-radius: 100%;
    opacity: 0.75;
    text-decoration: none;
    color: white;
    font-weight: 400;
    color: #6d2469;
    padding: 9px 15px;
    background: #f0d5e8;
    border: none;
    cursor: pointer;
    margin-left: 25px;
    
}
.icono:hover{
    opacity: 1;
}

.listafooter{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.listafooter-a{
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}
.listafooter-a:hover{
    opacity: 1;
    color: #f0d5e8;
}

.li-footer{
    display: inline-block;
    padding: 0 10px;
}
.copyright{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: rgb(192, 188, 183);
    opacity: 0.2;
}


                               /* CONTENEDOR DE TARJETAS DE OFERTAS */
#container-ofertas{
margin-left: 100px;
margin-bottom: 50px;
}
    
.btn{
    background-color: #6d2469;
}
 
